body:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/bg.png); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 100%;
  height: 100%;
  opacity : 0.5;
  z-index: -1;
}

#chosenPic {
  height: 650px;
  margin: auto;
  display: block;
}

#fileSelector {
  opacity: 0;
}
